<div class="w-[650px] bg-white rounded-lg shadow p-6 mb-2">
    <div class="flex justify-center w-full">

        <div class="flex justify-center w-full">

            <div class="flex-shrink-0 mr-5">
                <div
                    class="cursor-pointer font-bold w-12 h-12 bg-gray-300 flex items-center justify-center rounded-full">
                    Ulisses
                </div>
            </div>

            <div>
                <p>{{TweetMessage}}</p>
            </div>


        </div>
    </div>
</div>